$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~@angular/material/prebuilt-themes/indigo-pink';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body, app {
  height: 100%;
  min-height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

app {
  display: flex;
  flex-direction: column;
}

.content, main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

[hidden] {
  display: none !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}