<mat-card class="viewer-card" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" ngClass.xs="fxClass-xs" ngClass.sm="fxClass-sm">
    <app-viewer></app-viewer>
    <app-metadata></app-metadata>
</mat-card>
<mat-card class="calendar-card" fxHide fxShow.gt-sm ngClass.xs="fxClass-xs" ngClass.sm="fxClass-sm">
    <app-pager *ngIf="route.snapshot['_routerState'].url === '/hymnal'" fxLayout="row"></app-pager>
    <app-calendar *ngIf="route.snapshot['_routerState'].url === '/calendar'" fxLayout="row"></app-calendar>
</mat-card>