<mat-tab-group id="metadata-viewer">
    <mat-tab label="Hymns">
        <div *ngIf="folioMetadata" class="folio-metadata metadata-content">
            <h3>Hymns</h3>
            <div class="hymn-info" *ngFor="let hymn of folioMetadata">
                <strong><small>Name</small></strong>
                <p>{{hymn.name}}</p>
                <strong><small>Cycle</small></strong>
                <p>{{hymn.cycle}}</p>
                <strong> <small>Staves</small></strong>
                <p>{{hymn.staves}}</p>
                <strong> <small>Melody</small></strong>
                <p>{{hymn.melody}}</p>
            </div>
        </div>
        <div *ngIf="dateMetadata" class="folio-metadata metadata-content">
            <h3>Lauds</h3>
            <div class="hymn-info">
                <strong><small>Name</small></strong>
                <p>{{dateMetadata.lauds.name}}</p>
            </div>
            <h3>Matins</h3>
            <div class="hymn-info">
                <strong><small>Name</small></strong>
                <p>{{dateMetadata.matins.name}}</p>
            </div>
            <h3>Prime</h3>
            <div class="hymn-info">
                <strong><small>Name</small></strong>
                <p>{{dateMetadata.prime.name}}</p>
            </div>
            <h3>Sext</h3>
            <div class="hymn-info">
                <strong><small>Name</small></strong>
                <p>{{dateMetadata.sext.name}}</p>
            </div>
            <h3>Terce</h3>
            <div class="hymn-info">
                <strong><small>Name</small></strong>
                <p>{{dateMetadata.terce.name}}</p>
            </div>
            <h3>Vespers 1</h3>
            <div class="hymn-info">
                <strong><small>Name</small></strong>
                <p>{{dateMetadata.vespers1.name}}</p>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Score" disabled>
        <div class="score-metadata metadata-content">
            <h1>A playable score from the MEI</h1>
        </div>
    </mat-tab>
    <mat-tab label="Text" disabled>
        <div class="text-metadata metadata-content">
            <h1>Rendering of the TEI</h1>
        </div>
    </mat-tab>
</mat-tab-group>