<div class="calendar-icon open-calendar" (click)="picker.open()">
    <mat-icon>event</mat-icon>
    <small class="label">Date</small>
</div>
<div class="date-text" fxFlex="flex" fxLayout="column">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" [formControl]="control" (dateChange)="dateChange($event)">
        <mat-datepicker #picker startView="multi-year" [startAt]="date" disabled="false"></mat-datepicker>
    </mat-form-field>
    <div class="date-meta">
        <span>{{control.value | amDateFormat:'dddd'}}</span>
        <span>{{control.value | amDateFormat:'Wo'}} Week</span>
        <span>{{control.value | amDateFormat:'DDDo'}} Day</span>
    </div>
</div>
<div class="calendar-icon dominical-letter">
    <strong>{{computus.gregorian.dominicalLetter}}</strong>
    <small class="label">Dominical</small>
</div>
<div class="calendar-icon martyrology-letter">
    <strong>{{computus.gregorian.martyrologyLetter}}</strong>
    <small class="label">Martyrology</small>
</div>
<div class="calendar-icon metonic-cycle">
    <mat-icon>repeat</mat-icon>
    <small class="value">{{computus.gregorian.solarCycle}}</small>
    <small class="label">Metonic Cycle</small>
</div>
<div class="calendar-icon solar-cycle">
    <mat-icon>wb_sunny</mat-icon>
    <small class="value">{{computus.gregorian.solarCycle}}</small>
    <small class="label">Solar Cycle</small>
</div>
