<mat-tab-group id="metadata-viewer">
    <mat-tab label="Info">
        <div class="page-metadata metadata-content">
            <h1>Metadata about the page</h1>
        </div>
    </mat-tab>
    <mat-tab label="Score">
        <div class="score-metadata metadata-content">
            <h1>A playable score from the MEI</h1>
        </div>
    </mat-tab>
    <mat-tab label="Text">
        <div class="text-metadata metadata-content">
            <h1>Rendering of the TEI</h1>
        </div>
    </mat-tab>
</mat-tab-group>